<header class='flex shadow-lg py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] tracking-wide '>
    <div class='w-full flex flex-wrap items-center lg:gap-y-4 gap-y-6 gap-x-4'>
      <a   class='text-[#333]  font-semibold'>fashion
      </a>

    </div>
  </header>








