
<footer class="  h-40 flex justify-around" style="background-color: rgba(69, 123, 157, 1);">
    <div class="text-white">
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
    </div>
    <div class="text-white">
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
    </div>
    <div class="text-white">
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
      <p><a href="">Account</a></p>
    </div>
    <div class="text-white">
      <p>KEEP IN TOUCH</p>
    </div>
    
    
    
    
    
    </footer>
    