

<div class="text-center h-screen flex flex-col justify-center  p-10 bg-white rounded-xl shadow-lg transform transition duration-500 hover:scale-105">
    <h1 class="text-8xl font-extrabold text-red-600">404</h1>
    <h2 class="mt-4 text-2xl font-semibold text-gray-800">Oops! Page Not Found</h2>
    <p class="mt-2 text-gray-600">The page you're looking for might have been removed or is temporarily unavailable.</p>
    <div class="mt-5">
    <a href="/user/home" class="  px-6 py-3 text-lg font-medium text-white bg-gray-600 hover:bg-gray-700 rounded-full shadow-lg transition duration-300 ease-in-out">
        Go Back Home
    </a>
</div>
</div>