

<div class="fixed  inset-0 p-4 flex flex-wrap justify-center items-center w-full  z-[1000] before:fixed before:inset-0 before:w-full  before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
            <div class="w-full max-w-lg bg-white shadow-lg rounded-md p-8 relative">
               

                <div class=" bg-white py-20 px-3">
                    <div class="container mx-auto">
                        <div class="max-w-sm mx-auto md:max-w-lg">
                            <div class="w-full">
                                <div class="bg-white h-64 py-3 rounded text-center">
                                      <h1 class="text-2xl font-bold">OTP Verification</h1>
                                      <div class="flex flex-col mt-4">
                                          <span>Enter the OTP you received at</span>
                                          <span class="font-bold"><%=email%></span>
                                        </div>
                                        <div id="expireOtpTimer" class="text-red-500 ml-64 ps-10 text-sm ">Code will Expire in</div>


                            <form  method="post" action="/user/postOtp" id="postotp">          
                                      <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
                            <input type="text" name="email" value="<%= email %>" id="email" hidden>
                            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="first" maxlength="1" name="num1" required /> 
                            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="second" maxlength="1" name="num2" required /> 
                            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="third" maxlength="1" name="num3"  required/> 
                            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fourth" maxlength="1" name="num4" required />
                            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fifth" maxlength="1" name="num5" required /> 
                            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="sixth" maxlength="1" name="num6" required />
                                      </div>
                                    <div  class="text-red-500" id="err"></div>
                                      <button type="submit" id="verifyBtn" class="px-5 mt-12 py-2.5 w-full rounded-md text-white text-sm outline-none bg-blue-600 hover:bg-blue-700">Verify OTP</button>
                            </form> 
                            
                            

                                      <div class="flex justify-center text-center mt-5">
                                          <a class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer'"><button class="font-bold " id="resendOtpBtn" onclick="resendOtp()"  disabled>Resend OTP</button><i class='bx bx-caret-right ml-1'></i></a>
                                          <p id="timer"></p>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
    
    function expireOtpTimer(){
        let countdown=3*60
        let expireOtp=document.getElementById('expireOtpTimer')
        let verifyBtn=document.getElementById('verifyBtn')
        verifyBtn.disabled=false

        let timer=setInterval(()=>{
            if(countdown>0){
                expireOtp.textContent=`Expire in ${countdown}`
                countdown--
            }
            else{
                expireOtp.textContent='Code expired Resend for otp'
                verifyBtn.disabled=true
                clearInterval(timer)
            }
        },1000)
    }



    
function resendOtpTimer(){
let countdown=60
let resendOtpBtn=document.getElementById('resendOtpBtn')
let timerElement=document.getElementById('timer')

resendOtpBtn.disabled=true
timerElement.textContent=`in 0:${countdown<10 ? '0'+countdown :countdown } seconds`


let timer=setInterval(()=>{
    if(countdown>0){
        timerElement.textContent=`in 0:${countdown<10 ? '0'+countdown :countdown } seconds`
        countdown--
    }else{
        resendOtpBtn.disabled=false;
        timerElement.textContent='you can resend OTP now'
        clearInterval(timer)
    }
},1000)
}

function resendOtp(){


    resendOtpTimer()
}

window.onload=function(){
    expireOtpTimer()
    resendOtpTimer()
}


document.getElementById('postotp').addEventListener('submit',(event)=>{
    event.preventDefault()
    const num1=document.getElementById('first').value
    const num2=document.getElementById('second').value
    const num3=document.getElementById('third').value
    const num4=document.getElementById('fourth').value
    const num5=document.getElementById('fifth').value
    const num6=document.getElementById('sixth').value
    const email=document.getElementById('email').value
    const errShow=document.getElementById('err')
    const userOtp=Number([num1,num2,num3,num4,num5,num6].join(""))
    
    axios.post('/user/postOtp',{
        email:email,
        userEntedOtp:userOtp
    }).then((res)=>{
        window.location.href='/user/login'

    })
    .catch(err=>{
        console.log(err.response.data.message);
        errShow.textContent=err.response.data.message
        
    })
})


document.getElementById('resendOtpBtn').addEventListener('click',()=>{
    const email=document.getElementById('email').value
    // location.reload()
    axios.post('/user/mailforotp',{
        email:email
    }).then(data=>{
        console.log(data);
        expireOtpTimer()

        
    }).catch(data=>{
    const errShow=document.getElementById('err')
        errShow.textContent='Something went wrong. Please retry or sign up again.'
       
        
    })

})




        </script>