


<div class=" font-[sans-serif]">
    <div class="min-h-screen flex fle-col  justify-around py-6 px-12  ">
      <div class="grid md:grid-cols-2 items-center gap-10 max-w-6xl w-full">
        <div>
          <h2 class="lg:text-4xl text-3xl font-extrabold lg:leading-[45px] text-gray-800">
            Get started and dive into a world of endless fashion possibilities. Your style journey begins today.
          </h2>
          <p class="text-sm mt-6 text-gray-800">"Style is a way to say who you are without having to speak."<br> -Rachel Zoe</p>
          <p class="text-sm mt-12 text-gray-800"> Have already an account?<a href="/user/login" class="text-blue-600 font-semibold hover:underline ml-1">Login here</a></p>
        </div>

        <div class="max-w-md md:ml-auto w-full"  >
          <form  id="signupForm">
          <h3 class="text-gray-800 text-3xl font-extrabold mb-8">
            Sign Up
          </h3>

          <div class="space-y-4">
            <div class="flex justify-between">
              <div class="w-4/13 flex flex-col">
                <input name="firstname" id="firstname" type="text" autocomplete="additional-name" required class="bg-gray-100 w-full text-sm text-gray-800 px-4 py-3.5 rounded-md outline-blue-600 focus:bg-transparent" placeholder="First name" />
                <small id="firstnameError" class="text-red-500"></small>
              </div>
              <div class="w-4/13 flex flex-col">
                <input  name="lastname" id="lastname" type="text" required class="bg-gray-100 w-4/13 ml-16 text-sm text-gray-800 px-4 py-3.5  rounded-md outline-blue-600 focus:bg-transparent" placeholder="last Name" />
                <small id="" class="text-red-500"></small>
              </div>
         

            </div>

            <div>
                <input name="phone" id="phone" type="number"  required class="bg-gray-100 w-full text-sm text-gray-800 px-4 py-3.5 rounded-md outline-blue-600 focus:bg-transparent" placeholder="Phone" />
                <small id="phoneError" class="text-red-500"></small>
              </div>
              <div>
                <input name="email" id="email" type="email" required class="bg-gray-100 w-full text-sm text-gray-800 px-4 py-3.5 rounded-md outline-blue-600 focus:bg-transparent" placeholder="Email address" />
                <small id="emailError" class="text-red-500"></small>
              </div>
            <div>
                <input name="password" id="password" type="password" autocomplete="current-password" required class="bg-gray-100 w-full text-sm text-gray-800 px-4 py-3.5 rounded-md outline-blue-600 focus:bg-transparent" placeholder="Password" />
                <small id="passwordError" class="text-red-500"></small>
                
            </div>
            <div class="flex flex-wrap items-center justify-between gap-4">
              <div class="flex items-center">
               
              </div>
              <div class="text-sm">
                <a href="/user/forgotpassword" class="text-blue-600 hover:text-blue-500 font-semibold">
                  Forgot your password?
                </a>
              </div>
            </div>
          </div>

          <div class="!mt-8">
          
            <button type=" submit"  class="w-full shadow-xl py-2.5 px-4 text-sm font-semibold rounded text-white bg-poppy-red hover:bg-poppy-red focus:outline-none">
              Sign up
            </button>

          </div>

          </form>

          <div class="space-x-6 flex justify-center mt-8">
            <p class="font-light">continue with</p>
            <a href="/auth/google">
            <button type="button " 
              class="border-none outline-none  " >
              <svg xmlns="http://www.w3.org/2000/svg" width="32px" viewBox="0 0 512 512">
                <path fill="#fbbd00" d="M120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308H52.823C18.568 144.703 0 198.922 0 256s18.568 111.297 52.823 155.785h86.308v-86.308C126.989 305.13 120 281.367 120 256z" data-original="#fbbd00" />
                <path fill="#0f9d58" d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216C305.044 385.147 281.181 392 256 392z" data-original="#0f9d58" />
                <path fill="#31aa52" d="m139.131 325.477-86.308 86.308a260.085 260.085 0 0 0 22.158 25.235C123.333 485.371 187.62 512 256 512V392c-49.624 0-93.117-26.72-116.869-66.523z" data-original="#31aa52" />
                <path fill="#3c79e6" d="M512 256a258.24 258.24 0 0 0-4.192-46.377l-2.251-12.299H256v120h121.452a135.385 135.385 0 0 1-51.884 55.638l86.216 86.216a260.085 260.085 0 0 0 25.235-22.158C485.371 388.667 512 324.38 512 256z" data-original="#3c79e6" />
                <path fill="#cf2d48" d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606C388.668 26.629 324.381 0 256 0l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z" data-original="#cf2d48" />
                <path fill="#eb4132" d="M256 120V0C187.62 0 123.333 26.629 74.98 74.98a259.849 259.849 0 0 0-22.158 25.235l86.308 86.308C162.883 146.72 206.376 120 256 120z" data-original="#eb4132" />
              </svg>
            </button>
          </a>
          
        
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    
 document.getElementById('signupForm').addEventListener('submit',(event)=>{
    event.preventDefault();

    let  userFirstnameInput=document.getElementById('firstname').value  
    let userLastnameInput=document.getElementById('lastname').value
    let userPhoneInput=document.getElementById('phone').value
    let userEmailInput=document.getElementById('email').value
    let userPasswordInput=document.getElementById('password').value
    
    
    let firstnameText=document.getElementById('firstnameError')
    let phoneText=document.getElementById('phoneError')
    let emailText=document.getElementById('emailError')
    let passwordText=document.getElementById('passwordError')
    
    firstnameText.textContent=''
    phoneText.textContent=''
    emailText.textContent=''
    passwordError.textContent=''
    
    
    const phonePattern = /^[789]\d{9}$/;
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
    const nameRegex =/^(?=(.*[a-zA-Z]){3,})[a-zA-Z0-9 ]{3,}$/;
    // const passwordPattern = /^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
    
    let valid=true
    console.log("working");

     if(userFirstnameInput.length<3){
      console.log("this is");
      
      firstnameText.textContent="minimum 3 charater required*"
      valid=false
    }
    if (!nameRegex.test(userFirstnameInput)) {
        firstnameText.textContent = "Minimum 3 alphabetic characters required*";
                valid = false;
            }

    if(!emailPattern.test(userEmailInput)){
        emailText.textContent='Please enter a valid email address*'
        valid=false;
    }

     if(!phonePattern.test(userPhoneInput)){
      console.log("phoneErr");
      
       phoneText.textContent="enter valid phone number*"
       valid=false
    }

      if(!/[a-z]/.test(userPasswordInput)){
      passwordText.textContent='Password must include at least one lowercase letter.*'
      valid=false
    }
    else if(!/[A-Z]/.test(userPasswordInput)){
      passwordText.textContent='Password must include at least one uppercase letter.*'
      valid=false
    }
   else  if(!/\d/.test(userPasswordInput)){
      passwordText.textContent='Password must include at least one digit.*'
      valid=false
    }
   else  if(!/[@$!%*?&]/.test(userPasswordInput)){
      passwordText.textContent='Password must include at least one special character (@, $, !, %, *, ?, &).*'
      valid=false
    }
   else  if(!/[A-Z]/.test(userPasswordInput)){
      passwordText.textContent='Password must include at least one uppercase letter.*'
      valid=false
    }
    else if(password.length<8){
      passwordText.textContent='Password must be at least 8 characters long.*'
      valid=false
    }
    
    if(valid){
        axios.post("/user/postSignup",{
    name:userFirstnameInput+userLastnameInput,
    phone:userPhoneInput,
    email:userEmailInput,
    password:userPasswordInput
        }).then((res)=>{
          console.log(res);
          console.log(res.data.email);
          const email=res.data.email
          window.location.href='/user/mailforotp/'+email
    
          
        }).catch(err=>{

          // console.log(err.me.response);
          console.log(err);
          console.log(err.response);
          console.log(err.response.data);
          if(err.response){
            passwordError.textContent=err.response.data.Message

          }else{
            passwordError.textContent="Something went wrong please try again"
            
          }

            
        })

    }

 })


  </script>
